VIP_IP="192.168.122.142"
ARA_DATABASE_PASSWORD="arapassword"
POSTGRESQL_POSTGRES_PASSWORD="adminpassword"
REPMGR_PASSWORD="repmgrpassword"
REPMGR_PRIMARY_HOST="pg-0"
REPMGR_PARTNER_NODES="pg-0:5433,pg-1:5433"
REPMGR_NODE_NAME="pg-0"
REPMGR_NODE_NETWORK_NAME="pg-0"
POSTGRESQL_BACKEND_NODES="0:pg-0:5433,1:pg-1:5433"
PGPOOL_ADMIN_PASSWORD="adminpassword"
